transformers
accelerate
tiktoken
einops
transformers_stream_generator==0.0.4
scipy
deepspeed
peft<0.8.0
auto-gptq
optimum
wandb==0.17.8
colorlog
tenacity
openai
jieba
ratelimit
vllm
python-docx
docx
mpi4py